# QUESTION:- Apply Advanced Statistical Techniques to a dataset, presenting findings and insights.

## Using a dataset containing nigeria covid-19 list of affected state.

### Importing the needed liberaries for cleaning , computation , and visualisation.

In [1]:
# importing liberary
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from plotly.subplots import make_subplots
from datetime import datetime

In [2]:
# importing dataset
covid19_df_nigeria = pd.read_excel(r"C:\Users\Dell\Documents\dont delete\3mtt practice\covid19-nigeria-dataset.xlsx")

In [3]:
# displaying imported dataset
covid19_df_nigeria.head(10)

,Date,Location,Suspected Cases,Nr. Of New Cases,Total Confirmed Cases,Source,Deaths,Recovered,Contacts Under Follow-up,HCW Contacts Under Follow-up,Total Contacts Under Follow-Up,Cumulative Contacts Under Follow-up,Total Suspected Cases,Unnamed: 13
0,2020-02-27,Ogun,0,1,1,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,19,5.0,24.0,24.0,NaN,NaN
1,2020-02-27,Lagos,0,0,0,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,6,0.0,6.0,30.0,NaN,NaN
2,2020-03-01,Ogun,0,0,1,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,34,5.0,39.0,39.0,NaN,NaN
3,2020-03-01,Lagos,0,0,0,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,19,0.0,19.0,58.0,NaN,NaN
4,2020-03-02,Ogun,0,0,1,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,35,5.0,40.0,40.0,NaN,NaN
5,2020-03-02,Lagos,0,0,0,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,21,0.0,21.0,61.0,NaN,NaN
6,2020-03-03,Ogun,0,0,1,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,35,5.0,40.0,40.0,NaN,NaN
7,2020-03-03,Lagos,0,0,0,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,21,0.0,21.0,61.0,NaN,NaN
8,2020-03-04,Ogun,0,0,1,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,35,5.0,40.0,40.0,NaN,NaN
9,2020-03-04,Lagos,0,0,0,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,21,0.0,21.0,61.0,NaN,NaN

### Displaying basic information in a dataset

In [4]:
# displaying dataset info
covid19_df_nigeria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171 entries, 0 to 170
Data columns (total 14 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Date                                 171 non-null    datetime64[ns]
 1   Location                             171 non-null    object
 2   Suspected Cases                      171 non-null    int64
 3   Nr. Of New Cases                     171 non-null    int64
 4   Total Confirmed Cases                171 non-null    int64
 5   Source                               171 non-null    object
 6   Deaths                               171 non-null    int64
 7   Recovered                            171 non-null    int64
 8   Contacts Under Follow-up             171 non-null    int64
 9   HCW Contacts Under Follow-up         12 non-null     float64
 10  Total Contacts Under Follow-Up       12 non-null     float64
 11  Cumulative Contacts Under Follow-up  12 non-null     float64
 12  Total Suspected Cases                0 non-null      float64
 13  Unnamed: 13                          1 non-null      object
dtypes: datetime64[ns](1), float64(4), int64(6), object(3)
memory usage: 18.8+ KB

In [5]:
# displaying dataset description
covid19_df_nigeria.describe()

,Date,Suspected Cases,Nr. Of New Cases,Total Confirmed Cases,Deaths,Recovered,Contacts Under Follow-up,HCW Contacts Under Follow-up,Total Contacts Under Follow-Up,Cumulative Contacts Under Follow-up,Total Suspected Cases
count,171,171.000000,171.000000,171.000000,171.000000,171.000000,171.000000,12.000000,12.000000,12.000000,0.0
mean,2020-03-16 19:05:15.789473792,6.807018,0.304094,1.000000,0.005848,0.076023,5.584795,2.500000,27.666667,46.250000,NaN
min,2020-02-27 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,24.000000,NaN
25%,2020-03-12 00:00:00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21.000000,39.750000,NaN
50%,2020-03-18 00:00:00,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.500000,22.500000,40.000000,NaN
75%,2020-03-24 00:00:00,4.500000,0.000000,1.000000,0.000000,0.000000,8.000000,5.000000,40.000000,61.000000,NaN
max,2020-03-25 00:00:00,116.000000,13.000000,32.000000,1.000000,2.000000,35.000000,5.000000,40.000000,61.000000,NaN
std,NaN,15.652219,1.306516,3.872983,0.076472,0.325501,7.950405,2.611165,11.570600,13.403697,NaN

### Droping unrequired columns from the dataset

In [6]:
# droping multiple column
covid19_df_nigeria.drop(["Source", "Unnamed: 13", "Total Suspected Cases"], inplace = True, axis = 1)

In [7]:
covid19_df_nigeria.head()

,Date,Location,Suspected Cases,Nr. Of New Cases,Total Confirmed Cases,Deaths,Recovered,Contacts Under Follow-up,HCW Contacts Under Follow-up,Total Contacts Under Follow-Up,Cumulative Contacts Under Follow-up
0,2020-02-27,Ogun,0,1,1,0,0,19,5.0,24.0,24.0
1,2020-02-27,Lagos,0,0,0,0,0,6,0.0,6.0,30.0
2,2020-03-01,Ogun,0,0,1,0,0,34,5.0,39.0,39.0
3,2020-03-01,Lagos,0,0,0,0,0,19,0.0,19.0,58.0
4,2020-03-02,Ogun,0,0,1,0,0,35,5.0,40.0,40.0

### Changing date format using the .to_datetime function in pandas

In [8]:
# formating my date column
covid19_df_nigeria["Date"] = pd.to_datetime(covid19_df_nigeria["Date"], format = "%y-%m-%d")

In [9]:
covid19_df_nigeria.head()

,Date,Location,Suspected Cases,Nr. Of New Cases,Total Confirmed Cases,Deaths,Recovered,Contacts Under Follow-up,HCW Contacts Under Follow-up,Total Contacts Under Follow-Up,Cumulative Contacts Under Follow-up
0,2020-02-27,Ogun,0,1,1,0,0,19,5.0,24.0,24.0
1,2020-02-27,Lagos,0,0,0,0,0,6,0.0,6.0,30.0
2,2020-03-01,Ogun,0,0,1,0,0,34,5.0,39.0,39.0
3,2020-03-01,Lagos,0,0,0,0,0,19,0.0,19.0,58.0
4,2020-03-02,Ogun,0,0,1,0,0,35,5.0,40.0,40.0

### Renaming a column

In [10]:
# rename column
covid19_df_nigeria.rename(columns = {"Location" : "State"}, inplace = True)

In [11]:
covid19_df_nigeria.head()

,Date,State,Suspected Cases,Nr. Of New Cases,Total Confirmed Cases,Deaths,Recovered,Contacts Under Follow-up,HCW Contacts Under Follow-up,Total Contacts Under Follow-Up,Cumulative Contacts Under Follow-up
0,2020-02-27,Ogun,0,1,1,0,0,19,5.0,24.0,24.0
1,2020-02-27,Lagos,0,0,0,0,0,6,0.0,6.0,30.0
2,2020-03-01,Ogun,0,0,1,0,0,34,5.0,39.0,39.0
3,2020-03-01,Lagos,0,0,0,0,0,19,0.0,19.0,58.0
4,2020-03-02,Ogun,0,0,1,0,0,35,5.0,40.0,40.0

In [12]:
# calculating number of active cases and creating a column for active cases
covid19_df_nigeria["Active_Cases"] = covid19_df_nigeria["Total Confirmed Cases"] - (covid19_df_nigeria["Recovered"] + covid19_df_nigeria["Deaths"])

In [13]:
# Displaying tails to viiew number of active cases
covid19_df_nigeria.tail()

,Date,State,Suspected Cases,Nr. Of New Cases,Total Confirmed Cases,Deaths,Recovered,Contacts Under Follow-up,HCW Contacts Under Follow-up,Total Contacts Under Follow-Up,Cumulative Contacts Under Follow-up,Active_Cases
166,2020-03-25,Oyo,3,0,1,0,0,0,NaN,NaN,NaN,1
167,2020-03-25,Plateau,4,0,0,0,0,0,NaN,NaN,NaN,0
168,2020-03-25,Rivers,7,1,1,0,0,0,NaN,NaN,NaN,1
169,2020-03-25,Sokoto,1,0,0,0,0,0,NaN,NaN,NaN,0
170,2020-03-25,Yobe,1,0,0,0,0,0,NaN,NaN,NaN,0

### creating a pivot table using the pandas liberary and pivot_table function
### sum of all the death and recovered cases.

In [14]:
# creating pivot table
pivot_table_df = pd.pivot_table(covid19_df_nigeria, values = ["Total Confirmed Cases", "Deaths", "Recovered"], index = "State", aggfunc = max)

In [15]:
# Finding out the recovery rate
pivot_table_df["Recovery Rate"] = pivot_table_df["Recovered"]*100/pivot_table_df["Total Confirmed Cases"]

In [16]:
# Finding out the mortality rate
pivot_table_df["Mortality Rate"] = pivot_table_df["Deaths"]*100/pivot_table_df["Total Confirmed Cases"]

In [17]:
# sorting the values based on confirmed cases column
pivot_table_df = pivot_table_df.sort_values(by = "Total Confirmed Cases", ascending = False)

In [18]:
# ploting the pivot table
pivot_table_df.style.background_gradient(cmap = "cubehelix")